@media (max-width:780px){
    .header{
        flex-direction: column;
        height: auto;
        width: 100%;
        padding-bottom: 10px;
        gap: 10px;
    }
    
    .header .logo{
        display: none;
    }
    .header nav ul{
        height: auto;
        flex-direction: column;
    }
    /* intro-container */
    .intro-container{
        height: 400px;
        background-image: url(images/image-1.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .intro{
        height: auto;
        width: 100%;
        padding: 10px;
        justify-content: end;
        align-items: center;
    }
    /* intro-2 */
    .intro-2{
        width: 100%;
    }
    .intro-2 .rows{
        width: 650px;
        grid-template-columns: repeat(2,1fr);
        padding: 0 40px;
        margin: 0 auto;
    }
    /* menu */
    .menu{
        width: 100%;
        height: auto;
    }
    .menu .rows{
        width: 90%;
        grid-template-columns:repeat(2,1fr);
        padding: 0 40px;
        margin: 0 auto;
    }
    .menu .rows .col-8 img{
        width: 200px;
        display: block;
        height: 200px;
    }
    .footer{
        height: auto;
        max-height: 500px;
        margin-bottom: 0;

    }
    .footer .rows{
        display: flex;
        flex-direction: column;
        height: auto;
        border: none;
        justify-content: space-around;
    }
    .footer .rows .col-4:nth-child(4) a{
        display: inline;
        padding: 0 10px;
    }
}